$black: #181818;
$green: #5E9B48;

// background colours
$fuschia: #DFBCC4;
$grey: #D4D4D4;

/*
* Responsive
*/

$v-large: 1600px;
$large: 1440px;
$desktop: 1280px;
$tablet-h: 1024px;
$tablet: 979px;
$tablet-w: 768px;
$mobile: 480px;

/*
 * VARS
 */
$gutter: 0.75rem;
// $container: 1600px;
$container: 1440px;
$num_cols: 12;