:root {
    --palette-grey: #D4D4D4;
    --palette-fuschia: #DFBCC4;
    --palette-amber: #E8D9B4;
    --palette-lime: #D2E3C5;
    --palette-teal: #BDDACC;

    --current-bg: var(--palette-grey);
}

body {
    font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: $black;
    letter-spacing: 0.03em;

    @include dynamicBg;
}

a {
    color: $black;
    font-weight: normal;
    font-size: 21px;
}

h1 {
    display: none;
}
