body {
    font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: $black;
    letter-spacing: 0.03em;
    background-color: $fuschia;
}

a {
    color: $black;
    font-weight: normal;
    font-size: 21px;
}

h1 {
    display: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
