.text-link {
    &:not(.disabled) {
        text-decoration: underline;
        transition: opacity 0.3s ease;

        &:hover, &:focus {
            opacity: 0.5;
        }
    }

    &.disabled {
        opacity: 0.5;
        text-decoration: line-through;
        pointer-events: none;
    }
}