@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'TT Hoves';
        src: url('/fonts/TTHoves-Regular.woff2') format('woff2'),
            url('/fonts/TTHoves-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}