{
    "presets": [
        [
            "@nuxt/babel-preset-app",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
    ],

    "plugins": [
        "@babel/plugin-proposal-optional-chaining"
    ]
}
