body {
    font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
    color: $black;
    letter-spacing: 0.03em;
    background-color: $fuschia;
}

a {
    color: $black;
    font-weight: normal;
    font-size: 21px;
}